[package]
name = "chronicle-api"
version = "0.2.1-alpha"
authors = ["IOTA Stiftung"]
edition = "2018"
license = "APACHE 2.0"
homepage = "https://docs.iota.org/docs/chronicle/1.1/overview"
repository = "https://github.com/iotaledger/chronicle.rs"

[dependencies]
chronicle-common = { path = "../chronicle-common" }
chronicle-cql = { path = "../chronicle-cql" }
chronicle-storage = { path = "../chronicle-storage" }
tokio = { version = "0.2", features = ["macros", "stream", "sync", "net", "io-util", "rt-threaded", "time"] }
hyper = "0.13.4"
rand = "0.7.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
cdrs = "2.2.4"
log = "0.4.8"

[features]
default = ["mainnet"]
mainnet = []
devnet = []
comnet = []
