[package]
name = "chronicle-api"
version = "0.1.0"
authors = ["IOTA Stiftung"]
edition = "2018"
license = "APACHE 2.0"
homepage = "https://docs.iota.org/docs/chronicle/1.0/overview"
repository = "https://github.com/iotaledger/chronicle.rs"

[dependencies]
chronicle-common = { path = "../chronicle-common" }
chronicle-cql = { path = "../chronicle-cql" }
chronicle-storage = { path = "../chronicle-storage" }
bee-ternary = { git = "https://github.com/Alex6323/bee-p", rev = "6083138"}
tokio = { version = "0.2", features = ["macros", "stream", "sync", "net", "io-util", "rt-threaded", "time"] }
hyper = "0.13.4"
rand = "0.7.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
cdrs = "2.2.4"
