(
    storage_config: (
        keyspaces: [
            (
                name: "permanode",
                data_centers: {
                    "Canada": (
                        replication_factor: 1,
                    ),
                    "USA": (
                        replication_factor: 2,
                    ),
                },
            ),
        ],
        listen_address: "127.0.0.1:8080",
        thread_count: CoreMultiple(1),
        reporter_count: 2,
        local_datacenter: "datacenter1",
        partition_config: (
            partition_count: 1000,
            milestone_chunk_size: 60480,
        ),
    ),
    api_config: (),
    broker_config: (
        mqtt_brokers: [
            "tcp://api.hornet-0.testnet.chrysalis2.com:1883",
            "tcp://api.hornet-1.testnet.chrysalis2.com:1883",
        ],
        api_endpoints: [
            "https://api.hornet-0.testnet.chrysalis2.com/api/v1",
            "https://api.hornet-1.testnet.chrysalis2.com/api/v1",
        ],
    ),
)